.App {
  text-align: center;
  position: relative;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: black;
  color: white;
  font-size: 12px;
}

.circle-border {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
}
